

<ion-content [fullscreen]="true"  >
  <h2 class="ion-zmani">zmani</h2>
<img src="../../assets/images/kahara-5NiZHIvIP4M-unsplash-removebg-preview 1.svg" alt="">
<div class="textArea">
  <ion-text> Discover Your Perfect Look at Zmani </ion-text>
  <p> Discover the latest trends in fashion with Zmani. Whether you’re looking for casual wear, elegant evening dresses, or everyday essentials.</p>

  <ion-button color="white" routerLink="/tabs/main-page">Get Started</ion-button>

  </div>

</ion-content>
